= link_to "Back to colors", :root

%table
  %thead
    %tr
      %th Votes
      %th Word
      %th Color
  %tbody
    - @votes.each do |vote|
      %tr
        %td= vote.total
        %td= vote.word
        %td(style="background-color: ##{vote.color}")
