= render 'layouts/header_stats'

%section.stats
  - if @words.any?
    %ul.words
      - @words.each do |word, votes|
        %li
          %strong.word= word
          %ul.votes
            - votes.each do |vote|
              %li{style: "background-color: ##{vote.color} width: 10%", title: "##{vote.color}"}
  - else
    No colors
