= render 'layouts/header_stats'

%table
  %thead
    %tr
      %th Color
      %th Stats
  %tbody
    - @words.each do |word, votes|
      %tr
        %td= word

        %td
          - votes.each do |vote|
            - vote.total.times do
              %span{style: "background-color: ##{vote.color}"} &nbsp;
