!!! 5

%html
  %head
    %title Alpha Color
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body
    %main= yield
    = javascript_include_tag "application"
    %script(src="http://s0.railsrumble.com/banner.js" type="text/javascript")
